#anterior{
    background-color:#a4d3ff;
    background-image: url(images/f01.png), url(images/f02.png), url(images/f03.png);
    background-repeat: repeat-x, no-repeat, no-repeat;
    background-position: bottom, center, top;
    border: blue 2px solid;
    width: 235px;
    height: 112px;
    margin: 15px;
}

#prueba{
    background-color:#a4d3ff;
    background-image: url(images/f01.png), url(images/f02.png), url(images/f03.png);
    background-repeat: repeat-x, no-repeat, repeat-x;
    background-position: bottom, bottom left, top;
    left: auto, 500px, auto;
    border: red 2px solid;
    width: 600px;
    height: 500px;
    margin-left: 30px;
}


#posterior{
    background-color:#a4d3ff;
    background-image: url(images/f01.png), url(images/f02.png), url(images/f03.png);
    background-repeat: repeat-x, no-repeat, no-repeat;
    background-position: bottom, center, top;
    border: blue 2px solid;
    width: 235px;
    height: 112px;
    margin: 15px;
}