body{
    background-image:url(imagenes/ac.jpg);
    width: 1000px;
}
#general{
    position: relative;
    left: 50%;
}
#bloque1{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-image: url(imagenes/back_mantel.jpg);
}

#bloque2{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
}
#bloque3{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
}
#bloque4{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-color: rgb(124, 124, 124);
}
#bloque5{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
}

#bloque6{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-color: rgb(255, 255, 255);
}
#bloque7{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-color: rgb(255, 255, 255);
}

#bloque8{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-color: rgb(255, 255, 255);
}

#bloque9{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-image: linear-gradient(to left, rgb(63, 63, 63), rgb(191, 255, 87));

}
#bloque10{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-image: linear-gradient( rgb(255, 255, 255), rgba(87, 87, 87, 0));

}
#bloque11{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(33, 70, 26));

}
#bloque12{
    width: 100px;
    height: 100px;
    margin: 50px 50px 50px 50px;
    float: left;
    border: rgb(0, 0, 0) 1px solid;
    background-image: linear-gradient( rgba(255, 255, 255, 0), rgb(38, 146, 47));

}



#img2{
    width: 80%;
    height: 80%;
    float: left;
    margin: 10%;

}

#img3{
    width: 100px;
    height: 100px;
    float: left;
}

#img4{
    width: 80%;
    height: 80%;
    float: left;
    margin: 10%;
    
}

#img5{
    width: 100%;
    height: 100%;
    float: left;
}

#img6{
    width: 80%;
    height: 80%;
    float: left;
    margin: 10%;
}

#img7{
    width: 100%;
    float: left;
    margin-top: 27%;

}

#img8{
    height: 100%;
    float: left;
    margin-left: 25%;
}

